*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{

background:linear-gradient(135deg,#ffd6e7,#ffe9f4,#f3e8ff);

height:100vh;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

}

.container{

width:90%;
max-width:420px;
text-align:center;
z-index:2;

}

.page{
display:none;
}

.page.active{
display:block;
}

/* animated name */

.name{

font-family:Pacifico;
font-size:30px;

background:linear-gradient(90deg,#ff6ec4,#7873f5,#ff6ec4);
background-size:200%;

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation:move 3s linear infinite;

}

@keyframes move{

0%{background-position:0%}
100%{background-position:200%}

}

button{

margin-top:20px;

padding:12px 25px;

border:none;

border-radius:25px;

background:#ff9ecf;

color:white;

font-size:16px;

cursor:pointer;

}

/* GIFT BOX */

.giftBox{

width:120px;
height:120px;
margin:40px auto;
position:relative;
cursor:pointer;

}

.box{

width:120px;
height:80px;
background:#ff6ec4;
border-radius:10px;
position:absolute;
bottom:0;

}

.lid{

width:120px;
height:40px;
background:#ff3fa4;
border-radius:10px 10px 0 0;
position:absolute;
top:0;
transition:0.5s;

}

.giftBox.open .lid{

transform:translateY(-60px) rotate(-20deg);

}

/* balloons */

.hiddenWords{

display:flex;
justify-content:space-around;
margin-top:10px;
font-size:22px;
color:#b14a7d;

}

.hiddenWords span{

opacity:0;
transition:0.5s;

}

.hiddenWords span.show{

opacity:1;

}

.balloonRow{

display:flex;
justify-content:space-around;
margin-top:40px;

}

.balloonWrap{

display:flex;
flex-direction:column;
align-items:center;

animation:float 3s infinite ease-in-out;

}

.balloon{

width:70px;
height:90px;
border-radius:50%;
cursor:pointer;
transition:0.3s;

box-shadow:inset -8px -12px 20px rgba(0,0,0,0.2);

}

.string{

width:2px;
height:60px;
background:#777;

}

.pink{background:#ff9ecf;}
.peach{background:#ffc0cb;}
.coral{background:#ffb6c1;}
.purple{background:#d8b4ff;}

.balloon.pop{

transform:scale(0);
opacity:0;

}

@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}

}

/* final */

.finalTitle{

font-family:Pacifico;
font-size:32px;

}

.wish{

margin-top:20px;
color:#555;

}

/* sparkle */

#sparkleCanvas{

position:fixed;
top:0;
left:0;
pointer-events:none;

}